.app-container {
    position: relative;
    min-height: 100vh;
  }
  
  .whatsapp-button {
    position: fixed;
    bottom: 180px;
    right: 20px;
    z-index: 999;
    /* Agrega estilos adicionales según sea necesario */
  }

  .phone {
    position: fixed;
    bottom: 110px;
    right: 20px;
    z-index: 999;
    /* Agrega estilos adicionales según sea necesario */
  }
 